<div class="container" style="margin-top: 50px;">
    <div class="card">
        <div class="card-header">
            <h2>
                Registro de nuevo producto
            </h2> 
        </div>

        <div class="card-body">
            <form (ngSubmit)="save()" #productoForm="ngForm">
                <label>Nombre:</label>
                <input type="text" [(ngModel)]="producto.name"  class="form-control"  id="nombre"
                name="nombre" #nombre="ngModel">
                <label>Valor:</label>
                <input type="text" [(ngModel)]="producto.valor"  class="form-control"
                id="valor"
                name="valor" #valor="ngModel">
                <button type="submit" [disabled]="!productoForm.form.valid"  class="btn btn-primary">
                    Registrar
                </button>
            </form>

        </div>
        <div class="card-footer">
           
        </div>
    </div>
</div>